<!doctype html>
<html>
<head>
	{% if title %}
	<title>{{ title }} - Menu</title>
	{% else %}
	<title>this is jeff regular title</title>
	{% endif %}
</head>

<body>
	<h1>Hello World this is</h1>
	<h2>{{ place.name }}</h2>

	{% for i in items %}
		{{ i.name }}
		<br>
		{{ i.price }}
		<br>
		{{ i.description }}
		<br>
		<a href="{{url_for('editMenuItem',place_id=place.id, menu_id=i.id)}}">edit</a>
		<a href="{{url_for('deleteMenuItem', place_id=place.id, menu_id=i.id)}}">delete</a>
		<br>
		<br>
	{% endfor %}
	
</body>


</html>