{% extends 'base.html' %}
{% block title %}Create a new Restaurant{% endblock %}
{% block description %}{% endblock %}
{% block content %}

<div class="container">

	<h1 class="h1">Create New Restaurant</h2>

		<form class="form-inline" method='post' action="{{ url_for('newPlace') }}">

			<input class='form-control' type="text" name='name' placeholder="New Restaurant">
			
			<input class="btn btn-success" type="submit" value="Create">

			<a class="btn btn-default" href="/">Cancel</a>
		</form>

</div>
{% endblock %}