{% extends 'base.html' %}
{% block title %}Englewood Grub{% endblock %}
{% block description %}{% endblock %}
{% block content %}
	
	<div class="container">
		<h1>Englewood Grub</h1>
		<a href="{{ url_for('newPlace') }}">Create New Restaurant</a>
		<br>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<div class="alert alert-success" role="alert">
		<ul class="list-unstyled">
			{% for message in messages %}
			<li> {{ message }} </li>
			{% endfor %}
		</ul>
		</div>	
		{% endif %}
		{% endwith %}
		<br>
		{% for place in places %}
		<p><a href="/place/{{place.id}}/"> {{ place.name }} </a></p>
		<a href="{{ url_for('editPlace', place_id=place.id) }}">edit</a>
		<a href="{{ url_for('deletePlace', place_id=place.id) }}">delete</a>
		<br><br>
		{% endfor %}

	</div>
{% endblock %}